<ng-container *transloco="let t; prefix: 'ContactManager.MainContent'">
  @if (user(); as user) {
    <mat-card>
      <mat-card-header>
        <mat-icon [svgIcon]="user.avatar" mat-card-avatar />
        <mat-card-title>
          {{ t('Title.NameAndGender', user) }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ t('SubTitle.Birthday', user) }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group
          *transloco="let t; prefix: 'ContactManager.MainContent.Tabs'"
        >
          <mat-tab [label]="t('Bio')">
            <p>{{ user.bio }}</p>
          </mat-tab>
          <mat-tab [label]="t('Notes')">
            <app-notes [notes]="user.notes" />
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  }
</ng-container>
