<h2 mat-dialog-title>
  {{ 'ContactManager.NewContactDialog.Title' | translate }}
</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>
          {{ 'ContactManager.NewContactDialog.AvatarField.Label' | translate }}
        </mat-label>
        <mat-select formControlName="avatar" required>
          <mat-select-trigger>
            <mat-icon [svgIcon]="formGroup.value.avatar"></mat-icon>
            {{ formGroup.value.avatar }}
          </mat-select-trigger>
          <mat-option *ngFor="let avatar of avatars" [value]="avatar">
            <mat-icon [svgIcon]="avatar"></mat-icon>
            {{ avatar }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          {{ 'ContactManager.NewContactDialog.GenderField.Label' | translate }}
        </mat-label>
        <mat-select formControlName="gender" required>
          <mat-option value="male">
            {{
              'ContactManager.NewContactDialog.GenderField.Options.Male'
                | translate
            }}
          </mat-option>
          <mat-option value="female">
            {{
              'ContactManager.NewContactDialog.GenderField.Options.Female'
                | translate
            }}
          </mat-option>
          <mat-option value="other">
            {{
              'ContactManager.NewContactDialog.GenderField.Options.Other'
                | translate
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          {{ 'ContactManager.NewContactDialog.NameField.Label' | translate }}
        </mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="formGroup.controls.name.errors as errors">
          <ng-container *ngIf="errors['maxlength'] as maxLength">
            {{
              'ContactManager.NewContactDialog.NameField.Errors.MaxLength'
                | translate
                  : {
                      excessCount:
                        maxLength.actualLength - maxLength.requiredLength
                    }
            }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          {{ 'ContactManager.NewContactDialog.BornField.Label' | translate }}
        </mat-label>
        <input
          formControlName="birthDate"
          matInput
          [matDatepicker]="picker"
          [min]="minBirthDate"
          [max]="maxBirthDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.birthDate.errors as errors">
          <ng-container *ngIf="errors['y2k']">
            {{
              'ContactManager.NewContactDialog.BornField.Errors.Y2K' | translate
            }}
          </ng-container>
          <ng-container *ngIf="errors['year2012']">
            {{
              'ContactManager.NewContactDialog.BornField.Errors.Year2012'
                | translate
            }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          {{ 'ContactManager.NewContactDialog.BioField.Label' | translate }}
        </mat-label>
        <textarea matInput formControlName="bio" rows="10" cols="30">
          <!-- [maxlength]="bioMaxLength">!--> <!-- NOTE: Doesn't allow newlines!-->
        </textarea>
        <mat-error *ngIf="formGroup.controls.bio.errors as errors">
          <ng-container *ngIf="errors['maxlength'] as maxLength">
            {{
              'ContactManager.NewContactDialog.BioField.Errors.MaxLength'
                | translate
                  : {
                      excessCount:
                        maxLength.actualLength - maxLength.requiredLength
                    }
            }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    color="primary"
    (click)="save()"
    [disabled]="!formGroup.valid"
  >
    <mat-icon>save</mat-icon>
    {{ 'ContactManager.NewContactDialog.Save' | translate }}
  </button>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>cancel</mat-icon>
    {{ 'ContactManager.NewContactDialog.Cancel' | translate }}
  </button>
</mat-dialog-actions>
