<mat-sidenav-container
  class="h-full min-h-full w-full min-w-full flex-1"
  [class.dark-theme]="isDarkTheme"
  [dir]="textDirection()"
  autosize
>
  <mat-sidenav
    class="mat-elevation-z10 w-[240px]"
    #sidenav
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">
      {{ 'ContactManager.Sidenav.Title' | translate }}
    </mat-toolbar>
    @if (usersLoading()) {
      <mat-spinner style="margin: 0 auto" />
    } @else {
      <mat-nav-list>
        @for (user of users(); track user) {
          <mat-list-item
            [activated]="anchor.classList.contains('active')"
            (click)="anchor.click()"
          >
            <a
              class="block"
              #anchor
              [routerLink]="['/contact-manager', user.id]"
              matListItemTitle
              routerLinkActive="active"
            >
              {{ user.name }}
            </a>
            <button mat-icon-button matListItemMeta>
              <mat-icon [svgIcon]="user.avatar" />
            </button>
          </mat-list-item>
        }
      </mat-nav-list>
    }
  </mat-sidenav>

  <div class="flex h-full flex-col">
    <app-toolbar
      (toggleTheme)="toggleTheme()"
      (toggleSidenav)="sidenav.toggle()"
      (toggleDir)="toggleDir()"
    />
    <div class="m-[50px]">
      <router-outlet />
    </div>
  </div>
</mat-sidenav-container>
