<mat-sidenav-container
  class="app-sidenav-container"
  [class.dark-theme]="isDarkTheme$ | async"
  [dir]="(textDirection$ | async) || 'ltr'"
>
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">
      {{ 'ContactManager.Sidenav.Title' | translate }}
    </mat-toolbar>
    @if (usersLoading$ | async) {
      <mat-spinner style="margin: 0 auto" />
    } @else {
      <mat-nav-list>
        @for (user of users$ | async; track user) {
          <mat-list-item>
            <a
              matLine
              routerLinkActive="active-list-item"
              [routerLink]="['/contact-manager', user.id]"
            >
              <mat-icon [svgIcon]="user.avatar" /> {{ user.name }}
            </a>
          </mat-list-item>
        }
      </mat-nav-list>
    }
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar
      (toggleTheme)="toggleTheme()"
      (toggleSidenav)="sidenav.toggle()"
      (toggleDir)="toggleDir()"
    />
    <div class="wrapper">
      <router-outlet />
    </div>
  </div>
</mat-sidenav-container>
