<mat-sidenav-container
  class="flex-1 w-full min-w-full h-full min-h-full"
  [class.dark-theme]="isDarkTheme$ | async"
  [dir]="(textDirection$ | async) || 'ltr'"
  autosize
>
  <mat-sidenav
    #sidenav
    class="w-[240px] mat-elevation-z10"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">
      {{ 'ContactManager.Sidenav.Title' | translate }}
    </mat-toolbar>
    @if (usersLoading$ | async) {
      <mat-spinner style="margin: 0 auto" />
    } @else {
      <mat-nav-list>
        @for (user of users$ | async; track user) {
          <mat-list-item (click)="anchor.click()">
            <a
              #anchor
              matListItemTitle
              routerLinkActive="active"
              [routerLink]="['/contact-manager', user.id]"
              class="block"
            >
              {{ user.name }}
            </a>
            <button mat-icon-button matListItemMeta>
              <mat-icon [svgIcon]="user.avatar" />
            </button>
          </mat-list-item>
        }
      </mat-nav-list>
    }
  </mat-sidenav>

  <div class="flex flex-col h-full">
    <app-toolbar
      (toggleTheme)="toggleTheme()"
      (toggleSidenav)="sidenav.toggle()"
      (toggleDir)="toggleDir()"
    />
    <div class="m-[50px]">
      <router-outlet />
    </div>
  </div>
</mat-sidenav-container>
