<ng-container *transloco="let t; prefix: 'ContactManager.Notes'">
  <div class="mat-elevation-z8">
    <mat-form-field class="w-full">
      <mat-label> {{ t('Filter') }} </mat-label>
      <input
        #filter
        [placeholder]="t('Filter')"
        (keyup)="applyFilter($event)"
        matInput
      />
    </mat-form-field>

    <table class="w-full" [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ t('NumberColumn') }}
        </th>
        <td *matCellDef="let note" mat-cell>{{ note.id }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ t('TitleColumn') }}
        </th>
        <td *matCellDef="let note" mat-cell>{{ note.title }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ t('DateColumn.Title') }}
        </th>
        <td *matCellDef="let note" mat-cell>
          {{ t('DateColumn.DateFormat', { value: note.date }) }}
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          {{
            t('NoMatchingDataForFilter', {
              filterValue: filter.value
            })
          }}
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSize]="2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    />
  </div>
</ng-container>
