<ng-container *transloco="let t; prefix: 'ContactManager.Toolbar'">
  <mat-toolbar color="primary">
    <button
      class="sidenav-toggle"
      mat-icon-button
      (click)="toggleSidenav.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{ t('Title') }}</span>

    <span class="flex-auto"></span>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAddContactDialog()">
        {{ t('Menu.NewContact') }}
      </button>
      <button mat-menu-item (click)="toggleTheme.emit()">
        {{ t('Menu.ToggleTheme') }}
      </button>
      <button mat-menu-item (click)="toggleDir.emit()">
        {{ t('Menu.ToggleDir') }}
      </button>
    </mat-menu>
  </mat-toolbar>
</ng-container>
