<ng-container *transloco="let t; prefix: 'ContactManager.NewContactDialog'">
  <h2 mat-dialog-title>
    {{ t('Title') }}
  </h2>
  <mat-dialog-content>
    <form
      *transloco="let t; prefix: 'ContactManager.NewContactDialog.Form'"
      [formGroup]="formGroup"
    >
      <div class="flex flex-col">
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Avatar.Label') }}
          </mat-label>
          <mat-select [formControl]="formGroup.controls.avatar" required>
            <mat-select-trigger>
              <mat-icon [svgIcon]="formGroup.controls.avatar.value || ''" />
              {{ formGroup.controls.avatar.value }}
            </mat-select-trigger>
            @for (avatar of avatars; track avatar) {
              <mat-option [value]="avatar">
                <mat-icon [svgIcon]="avatar" />
                {{ avatar }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Gender.Label') }}
          </mat-label>
          <mat-select [formControl]="formGroup.controls.gender" required>
            @for (gender of genders; track gender) {
              <mat-option [value]="gender">
                {{ t('Gender.Option', { gender }) }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Name.Label') }}
          </mat-label>
          <input [formControl]="formGroup.controls.name" matInput required />
          @if (formGroup.controls.name.errors; as errors) {
            @if (errors['maxlength']; as maxLength) {
              <mat-error>
                {{
                  t('Name.Errors.MaxLength', {
                    excessCount:
                      maxLength.actualLength - maxLength.requiredLength
                  })
                }}
              </mat-error>
            }
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Born.Label') }}
          </mat-label>
          <input
            [formControl]="formGroup.controls.birthDate"
            [matDatepicker]="picker"
            [min]="minBirthDate"
            [max]="maxBirthDate"
            matInput
            required
          />
          <mat-datepicker-toggle [for]="picker" matSuffix />
          <mat-datepicker #picker />
          @if (formGroup.controls.birthDate.errors; as errors) {
            @if (errors['y2k']) {
              <mat-error>
                {{ t('Born.Errors.Y2K') }}
              </mat-error>
            }
            @if (errors['year2012']) {
              <mat-error>
                {{ t('Born.Errors.Year2012') }}
              </mat-error>
            }
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Bio.Label') }}
          </mat-label>
          <textarea
            [formControl]="formGroup.controls.bio"
            matInput
            rows="10"
            cols="30"
          >
          <!-- [maxlength]="bioMaxLength">!--> <!-- NOTE: Doesn't allow newlines!-->
        </textarea
          >
          @if (formGroup.controls.bio.errors; as errors) {
            @if (errors['maxlength']; as maxLength) {
              <mat-error>
                {{
                  t('Bio.Errors.MaxLength', {
                    excessCount:
                      maxLength.actualLength - maxLength.requiredLength
                  })
                }}
              </mat-error>
            }
          }
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      [disabled]="!formGroup.valid"
      (click)="save()"
      mat-button
      color="primary"
    >
      <mat-icon>save</mat-icon>
      {{ t('Save') }}
    </button>
    <button (click)="dismiss()" mat-button color="primary">
      <mat-icon>cancel</mat-icon>
      {{ t('Cancel') }}
    </button>
  </mat-dialog-actions>
</ng-container>
