<ng-container *transloco="let t; prefix: 'ContactManager.NewContactDialog'">
  <h2 mat-dialog-title>
    {{ t('Title') }}
  </h2>
  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <div class="flex flex-col">
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Fields.Avatar.Label') }}
          </mat-label>
          <mat-select required [formControl]="formGroup.controls.avatar">
            <mat-select-trigger>
              <mat-icon [svgIcon]="formGroup.controls.avatar.value || ''" />
              {{ formGroup.controls.avatar.value }}
            </mat-select-trigger>
            @for (avatar of avatars; track avatar) {
              <mat-option [value]="avatar">
                <mat-icon [svgIcon]="avatar" />
                {{ avatar }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Fields.Gender.Label') }}
          </mat-label>
          <mat-select required [formControl]="formGroup.controls.gender">
            @for (gender of genders; track gender) {
              <mat-option [value]="gender">
                {{ t('Fields.Gender.Options', { gender }) }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Fields.Name.Label') }}
          </mat-label>
          <input matInput required [formControl]="formGroup.controls.name" />
          @if (formGroup.controls.name.errors; as errors) {
            @if (errors['maxlength']; as maxLength) {
              <mat-error>
                {{
                  t('Fields.Name.Errors.MaxLength', {
                    excessCount:
                      maxLength.actualLength - maxLength.requiredLength
                  })
                }}
              </mat-error>
            }
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Fields.Born.Label') }}
          </mat-label>
          <input
            matInput
            required
            [formControl]="formGroup.controls.birthDate"
            [matDatepicker]="picker"
            [min]="minBirthDate"
            [max]="maxBirthDate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker" />
          <mat-datepicker #picker />
          @if (formGroup.controls.birthDate.errors; as errors) {
            @if (errors['y2k']) {
              <mat-error>
                {{ t('Fields.Born.Errors.Y2K') }}
              </mat-error>
            }
            @if (errors['year2012']) {
              <mat-error>
                {{ t('Fields.Born.Errors.Year2012') }}
              </mat-error>
            }
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ t('Fields.Bio.Label') }}
          </mat-label>
          <textarea
            matInput
            rows="10"
            cols="30"
            [formControl]="formGroup.controls.bio"
          ></textarea>
          @if (formGroup.controls.bio.errors; as errors) {
            @if (errors['maxlength']; as maxLength) {
              <mat-error>
                {{
                  t('Fields.Bio.Errors.MaxLength', {
                    excessCount:
                      maxLength.actualLength - maxLength.requiredLength
                  })
                }}
              </mat-error>
            }
          }
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      color="primary"
      [disabled]="!formGroup.valid"
      (click)="save()"
    >
      <mat-icon>save</mat-icon>
      {{ t('Save') }}
    </button>
    <button mat-button color="primary" (click)="dismiss()">
      <mat-icon>cancel</mat-icon>
      {{ t('Cancel') }}
    </button>
  </mat-dialog-actions>
</ng-container>
