<mat-toolbar color="primary">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{ "Features.ContactManager.Toolbar.Title" | translate }}</span>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddContactDialog()">
      {{ "Features.ContactManager.Toolbar.NewContact" | translate }}
    </button>
    <button mat-menu-item (click)="toggleTheme.emit()">
      {{ "Features.ContactManager.Toolbar.ToggleTheme" | translate }}
    </button>
    <button mat-menu-item (click)="toggleDir.emit()">
      {{ "Features.ContactManager.Toolbar.ToggleDir" | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
